.ipynb_checkpoints
urlembed/__pycache__/
urlembed/*.pyc
urlembed/util/__pycache__/
urlembed/util/*.pyc
urlembed/model/__pycache__/
urlembed/model/*.pyc
dataset/depth-100k
dataset/depth-500k
dataset/depth-1M
build
