.ipynb_checkpoints
url2vec/__pycache__/
url2vec/*.pyc
url2vec/util/__pycache__/
url2vec/util/*.pyc
url2vec/model/__pycache__/
url2vec/model/*.pyc
dataset/depth-100k
dataset/depth-500k
dataset/depth-1M
url2vec_crawler/*.pyc
url2vec_crawler/spiders/*.pyc
build
.scrapy
